---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/division/divide-by/2" />
    <link rel="canonical" href="https://www.mathpractice.com/division/divide-by/2" />
    <title>Redirecting to Divide by 2 Practice</title>
  </head>
  <body>
    <p>Redirecting to <a href="/division/divide-by/2">Divide by 2 Practice</a>…</p>
  </body>
</html>
