---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/division/divide-by/1" />
    <link rel="canonical" href="https://mathpracticeonline.com/division/divide-by/1" />
    <title>Redirecting to Divide by 1 Practice</title>
  </head>
  <body>
    <p>Redirecting to <a href="/division/divide-by/1">Divide by 1 Practice</a>…</p>
  </body>
</html>
